.faq {
    background-color: #F5F5F5;
    padding: 60px;
}

.faq-header-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-header {
    color: #111111;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.faq-subheader {
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.faq-questions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.faq-question-item {
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.faq-question-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faq-question {
    color: #111111;
    font-size: 16px;
    font-weight: 400;
}

.faq-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
    align-self: center;
}

.faq-answer {
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    display: none;
}

.faq-question-item.active .faq-answer {
    display: block;
}

@media screen and (max-width: 1279px) {
    .faq {
        padding: 20px;
    }
    
    .faq-header {
        font-size: 24px;
    }
}